*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-blue: #e0f7fa; 
  --light-green: #c8e6c9; 
  --dark-gray: #424242; 
  --white: #ffffff; 
  --light-yellow: #fff9c4; 
  --gold: #ffd54f; 
  --deep-orange: #ffab40; 
}

body {
  background-color: var(--light-blue);
  font-family: Arial, sans-serif; 
}

.title {
  color: var(--dark-gray);
  text-align: center;
  margin: 25px 0;
  font-size: 2rem;
}

#dessert-card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px; 
}

.dessert-card {
  background-color: var(--light-green);
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  margin: 20px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s, box-shadow 0.3s; 
}

.dessert-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

.dessert-price {
  font-size: 1.5rem; 
  color: var(--dark-gray);
}

.btn {
  display: block;
  cursor: pointer;
  width: 120px; 
  color: var(--dark-gray);
  background-color: var(--light-yellow);
  border: none; 
  border-radius: 5px;
  padding: 10px; 
  font-size: 1rem; 
  transition: background-color 0.3s, transform 0.2s; 
}

.btn:hover {
  background-color: var(--deep-orange);
  transform: translateY(-2px); 
}

#cart-btn {
  position: fixed; 
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.add-to-cart-btn {
  margin: 20px auto 10px;
}

#cart-container {
  display: none;
  position: fixed;
  top: 70px;
  right: 20px;
  background-color: var(--white);
  width: 250px;
  height: 400px;
  border: 8px solid var(--dark-gray);
  border-radius: 15px;
  text-align: center;
  font-size: 1.2rem;
  overflow-y: auto; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease; 
}

.product {
  margin: 20px 0; 
}

.product-count {
  display: inline-block;
  margin-right: 10px;
}

.product-category {
  margin: 10px 0;
  color: var(--dark-gray); 
}

@media (min-width: 768px) {
  #dessert-card-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .dessert-card {
    flex: 1 0 21%;
    margin: 20px; 
  }

  #cart-container {
    width: 300px; 
  }
}
